<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Adicao Produtos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Adicionar Produto</h1>
        <form id="product-form">
            <label for="product-name">Nome do Produto:</label>
            <input type="text" id="product-name" name="product-name" required>
            
            <label for="product-description">Descrição do Produto:</label>
            <textarea id="product-description" name="product-description" rows="4"

            <button type="submit">Salvar Alterações</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="script.js"></script>
    
</body>
</html>