
 

.containerEsqueciSenhaPai{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    background-color: #0C1618;
    
    
  }
  
  
  
  .containerainerEsqueciSenhafilho2 {
  
    border-radius: 40px ;
    border: 1px  ;
    width: 450px;
    padding: 25px;
    text-shadow: none;
  
  
  
  }
  
  .containerEsqueciSenhafilho2 h1{
    text-align: center;
    font-size: 30px;
    color: #63ACBB;
    
  }
  
  .containerEsqueciSenhafilho2 .inputEsqueciSenha-field{
    position: relative ;
    width: 100%;
    height: 50px;
    margin: 20px auto;
  
  
  }
  .inputEsqueciSenha-field input{
    width: 100%;
    height: 100%;
    background-color: #63ACBB;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #0C1618;
    padding: 20px 50px ;
  
  }
  
  .inputEsqueciSenha-field input::placeholder{
    color: #0C1618;
   
  }
  
  .containerEsqueciSenhafilho2 .recallEsqueciSenha-forget{
    display: flex;
    color: #63ACBB;
    justify-content: space-between;
    margin: 10px  0  15px;
    
  }
  
  .recallEsqueciSenha-forget a,
  .signup-link p a{
    color:#63ACBB;
    text-decoration: none;
  
  }
  
  .recall-forget a:hover,
  .signupEsqueciSenha-link p a:hover{
    text-decoration: underline;
  
  }
  .containerEsqueciSenhafilho2 button{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #63ACBB;
    border-color: #0C1618;
    cursor: pointer;
    font-size: 16px;
    font-family: 250px;
    
  }
  
  .containerEsqueciSenhafilho2 .signupEsqueciSenha-link{
    color: #63ACBB;
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
  
  }
    
  .EsqueciSenhaBotão{
    font-size: 15px;
    text-align: center;
    color: #0C1618;
  }
  .formulario{
    width: 300px;
  }