
#navbar{
    background-color: #0C1618;
    display:flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
}
#icones{
    background-color: #63ACBB;
    display:flex;
    flex-direction: column;
span{
    display: none;
}
&:hover{
    span{
        display: block;
    }
}
}
.icones-navbar{
    background-color: #0C1618;
    color: #63ACBB;
    
}

button{
    width: 100%;
    height: 30px;
}