
.containerModalAdicao {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #0C1618;
    border-radius: 15px;
    border: #ddd solid 5px;
    
}

.containerModalAdicao h1 {
    text-align: center;
    color: #63ACBB;
}

.containerModalAdicao form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
 
.containerModalAdicao textarea{
    background-color: #0C1618;
    color: #ddd;
}
#BotaoModalAdicao {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #63ACBB;
    color: #0C1618;
    border: none;
    cursor: pointer;
    border-color: #0C1618;

}
.containerModalAdicao input, textarea{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.containerModalAdicao input{
    background-color: #0C1618;
    color: #ddd;
    
}
.containerModalAdicao textarea {
    height: 100px;
}
