.PedidosComponentePai {

    background-color: #63ACBB;
    border-radius: 15px;
    width: 100%;
    padding: 35px;
    margin: 40px;
    height: fit-content;

    h2{
        text-align: start;
        text-transform: uppercase;

    }
    p{
        margin: 10px 0px;
        text-transform: uppercase;
    }
    .status{
        font-size: 12px;
        text-transform: capitalize;
    }


}

.produto{
    display: flex;
    align-items: center;
    gap: 25px;
   

    img{
        width: 150px;
    }
    h3{
        margin: 30px;
        font-weight: 900;
    }
    p{
        font-size: 12px;
        width: 300px;
        margin: 30px;
    }
}
